# Datos sensibles
data/external/
# data/raw/ permitido para incluir el dataset del proyecto

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Modelos entrenados grandes
models/saved_models/*.pkl
models/saved_models/*.joblib
models/artifacts/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
